<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
<!--Fonts-->    
    <link href="css/site/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!--jQuery-->
    <script src="js/site/jquery.min.js"></script>
<!--Vue.js-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<!--Bootstrap-->
    <link rel="stylesheet" href="css/site/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site/bootstrap/css/bootstrap-theme.min.css">
    <script src="js/site/bootstrap/js/bootstrap.min.js"></script>
<!--Style-->
    <link rel="stylesheet" type="text/css" href="css/site/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Twoje notatki</h1>
        </div>
    </header>
    <main id="vue-app">
        <section class="create-new-note">
            <div class="container">
                <p class="new-note-text">Nowa notatka</p>
                <textarea v-model="text_of_note" type="text" placeholder="Treść"></textarea>
                <button class="save-note-btn" v-on:click="new_note">Zapisz notatkę</button>
                <button class="display-notes-btn" v-if="exist_notes" v-on:click="display_notes_btn">
                    Pokaż listę notatek
                </button>
            </div>
        </section>
        <section class="display-notes">
            <div class="container">
                <ul>
                    <li v-for="note in notes">
                        <span class="title-note">
                            Notatka {{$index + 1}}
                        </span><br>
                        {{note}}
                        <button class="delete-note-btn" v-on:click="delete_note($index)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <button class="edit-note-btn" v-on:click="edit_note($index)">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                    </li>
                </ul>
                
                <!--<input type="email" v-model="email"/>
                <input type="password" v-model="password"/>
                <button v-on:click="sign_in">Zaloguj</button>-->
                <div id="deb"></div>
                
            </div>
        </section>
        <section class="edit-window" v-if="note_is_edited">
            <h2>Edytuj notatkę</h2>
            <textarea  v-model="text_of_edit_note" type="text" placeholder="Treść">{{note_to_edit}}</textarea>
            <button class="" v-on:click="save_edit_note">Zapisz</button>
        </section>
        <section v-if="is_img_in_text">
            <img v-bind:src="link_to_img"></img>
        </section>
    </main>
    <!-- scripts -->
    <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
    <script src="js/site/app.js"></script>
</body>
</html>