*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #2F4F4F;
}
header{
    background-color: #1E2D4E;
    padding: 20px;
    box-shadow: 0 2px 5px #181818;
    h1{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        margin: 0;
        padding: 0;
        letter-spacing: 5px;
    }
}
section{
    padding: 50px 0;
    &.create-new-note{
        .new-note-text{
            text-align: center;
            font-weight: 700;
            color: #fff;
        }
        textarea{
            width: 100%;
            max-width: 300px;
            min-height: 300px;
            padding: 20px;
            display: block;
            margin: 0 auto;
            resize: none;
            background-color: #FFFF31;
            border: none;
            text-align: center;
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 2rem;
            box-shadow: 0 2px 5px #181818;
            &:focus{
                outline: none;
                text-align: left;
            }
        }
        button{
            width: 100%;
            max-width: 200px;
            min-height: 40px;
            padding: 10px;
            display: block;
            margin: 10px auto;
            background-color: #3F2F4F;
            color: #fff;
            text-transform: uppercase;
            border: none;
            box-shadow: 0 2px 5px #181818;
            transition: all 0.3s;
            &:hover{
                opacity: 0.6;
            }
            &.display-notes-btn{
                background-color: #65703F;
            }
        }
    }
    &.display-notes{
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            li{
                position: relative;
                width: 100%;
                max-width: 300px;
                height: 300px;
                padding: 20px;
                display: block;
                margin: 10px auto;
                resize: none;
                background-color: #FFFF31;
                border: none;
                text-align: center;
                font-family: 'Gloria Hallelujah', cursive;
                font-size: 2rem;
                overflow: auto;
                box-shadow: 0 2px 5px #181818;
                .delete-note-btn{
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    background-color: transparent;
                    border: none;
                    font-size: 2rem;
                    transition: all 0.3s;
                    &:hover{
                        color: red;
                    }
                }
                .title-note{
                    text-transform: uppercase;
                    font-weight: 700;
                    border-bottom: 2px dotted #181818;
                }
            }
        }
    }
}